#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.all-activities-section {
  margin-top: 20px;
}

.btnGetActivities{
  background-color: rgb(245, 177, 51);
  color: black;
  font-size: 18px;
  height: 40px;
  border-radius: 10px;
  width: 300px;
  margin-bottom: 50px;
  border-width: 0;
  padding: 10px;
  border-color: rgb(245, 177, 51);
  font-weight: normal;
}

.activities-table {
  border-collapse: collapse;
}

.header-row th{    
  width: 20%;
  height: 40px;
  border: 1px solid black;
  border-collapse: collapse; 
  background-color: gray;
}

#aside-section{
  float: left;
  width: 350px;
  height: 800px;
  background: lightgray;
  margin: 20px 20px 20px 0px;
  position: relative;
  z-index:2;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

