#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.all-activities-section {
  margin-top: 20px;
}

.btnGetActivities, .submit-button {
  background-color: rgb(245, 177, 51);
  color: black;
  font-size: 18px;
  height: 40px;
  border-radius: 10px;
  width: 200px;
  margin-bottom: 50px;
  border-width: 0;
  padding: 10px;
  border-color: rgb(245, 177, 51);
  font-weight: normal;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.1s ease;
}

table {
  width: 70%;
  border-collapse: collapse;
  background-color: #DBE8D8 ;
  
}

.activities-table {
  border-collapse: collapse;
  border: 1px solid black;
}

.all-activities-table-header-row th{    
  height: 20px;
  padding: 8px;
  border: 1px solid black;
  border-collapse: collapse; 
  background-color: rgba(193, 217, 193, 0.61);
}

.activity {
  width: 20%;
}

.week{
  width: 15%;
}

#aside-section{
  float: left;
  width: 350px;
  height: 800px;
  background: rgba(201, 201, 201, 0.562);
  margin: 20px 20px 20px 0px;
  position: relative;
  z-index:2;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

#aside-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.activity-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
  margin: 0 auto;
  padding: 4px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-group input[type="number"]{
  width: 20%;
}

.days-fieldset {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.days-fieldset label {
  margin-bottom: 8px;
}

.submit-button {
  margin: 0 auto;
  background-color: rgb(121, 161, 10);
}

.submit-button:hover, .btnGetActivities:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.submit-button:hover {
  background-color: rgb(148, 197, 13);
}

.btnGetActivities:hover {
  background-color: rgb(253, 203, 110);
}

.submit-button:active, .btnGetActivities:active {
  transform: translateY(2px);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

